{% load static %}
<footer>
  <div class="information">
    <div class="icon-footer">
      <img
        src="{% static 'images/products/footer-logo.6b9a2c80d878270d6a3e26ca369d8f15.svg'%}"
      />
      <p>Your natural candle made for your home and for your wellness</p>
    </div>
    <div class="detalis">
      <div class="discovery">
        <h4>Discovery</h4>
        <p>New season</p>
        <p>Most searched</p>
        <p>Most selled</p>
      </div>
      <div class="about">
        <h4>About</h4>
        <p>Help</p>
        <p>Shipping</p>
        <p>Affiliate</p>
      </div>
      <div class="info">
        <h4>Info</h4>
        <p>Contact us</p>
        <p>Privacy Policies</p>
        <p>Terms & Conditions</p>
      </div>
    </div>
  </div>
</footer>
